// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #3172bc;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

$size-small: 1.8rem;
$size-normal: 1.8rem;
$size-medium: 2rem;
$size-large: 2.4rem;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
  (
    "white": (
      $white,
      $black,
    ),
    "black": (
      $black,
      $white,
    ),
    "light": (
      $light,
      $light-invert,
    ),
    "dark": (
      $dark,
      $dark-invert,
    ),
    "primary": (
      $primary,
      $primary-invert,
      $primary-light,
      $primary-dark,
    ),
    "link": (
      $link,
      $link-invert,
      $link-light,
      $link-dark,
    ),
    "info": (
      $info,
      $info-invert,
      $info-light,
      $info-dark,
    ),
    "success": (
      $success,
      $success-invert,
      $success-light,
      $success-dark,
    ),
    "warning": (
      $warning,
      $warning-invert,
      $warning-light,
      $warning-dark,
    ),
    "danger": (
      $danger,
      $danger-invert,
      $danger-light,
      $danger-dark,
    ),
  ),
  $custom-colors
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

@import "./buefy-overrides/_button-overrides.sass";

// button icon with svgs
.button {
  & span {
    display: flex;
    align-items: center;
  }

  &.is-medium svg {
    width: 2.2rem;
    max-height: 1.6rem;
    margin-bottom: 0.2rem;

    &.icon-left {
      margin-right: 1rem;
    }

    &.icon-right {
      margin-left: 1rem;
    }
  }

  &.is-small svg {
    width: 1.6rem;
    max-height: 1.4rem;
    margin-bottom: 0.2rem;

    &.icon-left {
      margin-right: 0.75rem;
    }

    &.icon-right {
      margin-left: 0.75rem;
    }
  }
}

.progress.is-small,
.is-small.progress-wrapper.is-not-native {
  height: 1rem;
}
