@use "./buefyOverrides";
@use "./variables";
@use "./typography";
@use "./page-animation";
@use "./animations";
@use "~/node_modules/@braid/vue-formulate/themes/snow/snow";
@use "./formulate";

html {
  box-sizing: border-box;
}

body,
main {
  background: var(--primary-page-background);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Default Colors */
  --primary-color: #3172bc;
  --primary-color-light: #66adff;
  --primary-color-medium: #3c7dc9;
  --primary-color-dark: #0c478c;

  --primary-color-dark-rgb: 12, 71, 140;

  --primary-page-background: #fafaff;
  --secondary-page-background: #edf2f7;

  --primary-font-color: #2f495e;
  --always-light-color: #fafaff;
  --secondary-color: #28c4ac;
  --secondary-color-rgb: 40, 196, 172;
  --secondary-color-light: hsl(171, 66%, 84%);
  --secondary-color-dark: hsl(171, 66%, 36%);

  /* Breakpoints */
  --bp-largest: 1600px;
  --bp-large: 1200px;
  --bp-medium: 1000px;
  --bp-small: 768px;
  --bp-smallest: 576px;

  /* Default Spacing */
  --default-x-padding: 20px;

  /* Default Full Width Grid */
  --default-full-layout-grid: [full-start] minmax(20px, 1fr) [center-start] minmax(0, 1240px)
    [center-end] minmax(20px, 1fr) [full-end];

  --default-two-columns-half: [full-start] minmax(20px, 1fr) [left-start] minmax(0, 600px) [left-end
    right-start] minmax(0, 600px) [right-end] minmax(20px, 1fr) [full-end];

  --default-two-columns-two-thirds-left: [full-start] minmax(20px, 1fr) [left-start]
    minmax(0, 900px) [left-end right-start] minmax(0, 300px) [right-end] minmax(20px, 1fr)
    [full-end];

  --default-two-columns-two-thirds-right: [full-start] minmax(20px, 1fr) [left-start]
    minmax(0, 300px) [left-end right-start] minmax(0, 900px) [right-end] minmax(3rem, 20px)
    [full-end];

  /* Font Families */
  --default-heading-font: "Poppins", sans-serif;
  --default-body-font: "Roboto", sans-serif;
}

.myContainer {
  max-width: 1240px;
  padding: 0px 20px;
  margin: 0 auto;
}

.mainHighlight {
  color: var(--primary-color);
}

.secondaryHighlight {
  color: var(--secondary-color);
}

.desktopVisible {
  @media only screen and (max-width: variables.$bp-small) {
    display: none !important;
  }
}

.mobileVisible {
  @media only screen and (min-width: variables.$bp-small) {
    display: none !important;
  }
}
